---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

COMING SOON!

In the mean time, a complete list of publications can be found using the various links on the sidebar or in <a href="https://www.ncbi.nlm.nih.gov/myncbi/browse/collection/52534218/?sort=date&direction=ascending ">MyBibliography</a>.

<!--
{% if author.googlescholar %}
  You can also find my articles on <u><a href="{{author.googlescholar}}">my Google Scholar profile</a>.</u>
{% endif %}

{% include base_path %}

{% for post in site.publications reversed %}
  {% include archive-single.html %}
{% endfor %}
-->